<!-- 
  Se há algum conteúdo nesta página, não há problemas, você pode apagar todo conteúdo que existe neste documento.
  Caso você queira testar a funcionalidade deste documento, você pode adicionar um título e executar a aplicação.
  Para isso, você precisará adicionar o script abaixo:
    
    <h1 class="text-center">{{title}}</h1>
  
  Assim você conseguirá ver o Título da aplicação Angular na tela, ao utilizar o comando "ng serve" no terminal. 

  Agora que testamos a nossa aplicação e ela mostrou-se ser funcional, vamos relembrar nosso objetivo. Estamos 
  criando uma aplicação que nos ajudará a criar, ler, atualizar e deletar registros do banco de dados. O método
  CRUD foi implementado no back-end, e nosso objetivo é criar uma aplicação front-end que consiga acessar a 
  implementação desenvolvida no back-end.
  
  Então, o primeiro método CRUD que vamos focar é o READ. Vá até o terminal e utilize o comando "ng g class alunos"; 
  este comando criará uma classe dentro do diretório "Src > App" com o nome "alunos.ts" e outra com o nome de 
  "alunos.spec.ts". Crie e siga para o documento "alunos.ts" para continuarmos as nossas aulas. 

  OBS: Mais tarde retornaremos neste documento para fazer futuras implementações.
  
-->

<h1 class="text-center">{{title}}</h1>
<app-lista></app-lista>