<!-- Neste documento vamos implementar uma página que tem a funcionalidade de buscar os registros do banco de dados e apresentar para o usuário.    -->    

<!-- Vamos começar criando um tema para a nossa página.  -->
<h2> Lista dos Alunos </h2>

<!-- 
    
->  Vamos apresentar a lista em forma de tabela, então vamos utilizar a 
tag "<table>" para criar uma tabela HTML e deixar a lista mais organizada.-->
    
<!--  Dentro desta classe vamos utilizar a classe "table", do Bootstrap, que permite utilizar tabelas estilizadas. -->
<table class="table table-striped">

    <!-- Vamos utilizar a tag "<thead>" para agrupar agrupar o conteúdo do cabeçalho -->
    <thead>

        <!-- Aqui vamos utiizar a tag "<tr>" que define uma linha em uma tabela HTML -->
        <tr>

            <!-- A tag "<th>" define um elemento cabeçalho em uma tabel HTML. Nela vamos adicionar os nomes das colunas de nossa tabela. -->
            <th> Nome </th>
            <th> Sobrenome </th>
            <th> Email </th>
            <th> Ações </th>

        </tr>
    </thead>

    <!-- A tag "<tbody>" é usada para agrupar o conteúdo em uma tabela.  -->
    <tbody>

        <!-- Vamos utilzar o "NgFor" para trabalhar com o conjunto de dados, a fim de renderizá-los de forma dinâmica. "NgFor" é utilizado para fazer loop em uma coleção de listas.    -->

        <!-- Agora vamos criar uma variável chamada "Aluno", que se encontra no script "let Aluno", onde manterá um array com elementos. -->

        <!-- Vamos utilizar o script "of Alunos" que se refere ao array "Alunos", e que contém a lista de elementos onde a iteração foi realizada. -->

        <!-- Agora precisamos criar referências do objeto que criamos, e para isso, vamos até o documento "alunos-lista.component.ts", e lá faremos a importação dos atributos do "aluno.ts". -->
        <tr *ngFor = "let aluno of alunos" >

            <!-- Quando chamamos a classe e o atributo seguido do ponto, direcionamos os dados do JSON para serem apresentados na coluna. -->
            <td> {{ aluno.nome }} </td>
            <td> {{ aluno.sobrenome }} </td>
            <td> {{ aluno.email }} </td>

            <!-- Vamos implementar um botão para atualizar o registro de um Aluno -->
            <td>
                <button (click)="updateAluno(aluno.id)" class="btn btn-primary">Atualizar</button>
                <!-- Agora vá ao "lista.component.ts", e lá vamos implementar o método para atualizar o Aluno. -->

                <button (click)="deleteAluno(aluno.id)" class="btn btn-danger" style="margin-left: 10px">Deletar</button>
                <!-- Agora vá para o "lista.component.ts", vamos implementar o método "deleteAluno". -->

                <button (click)="details(aluno.id)" class="btn btn-info" style="margin-left: 10px;">Detalhes</button>
                <!-- Agora siga para o "lista.component.ts" para implementar o método "detalhes". -->
            </td>

        </tr>
    </tbody>

    <!-- Agora vamos executar a aplicação com o comando "ng serve" no terminal e seguir, no navegador, o link "http://localhost:4200/". Veja um modelo de como as informações armazenadas no banco de dados serão apresentadas na página Web.       -->
    <!-- Vamos criar uma documento de serviço com o nome "aluno.service.ts", utilizando o comando "ng g s aluno" no terminal.       -->


</table>

<!--    REFERÊNCIAS    

->  HTML Tables 
    https://www.w3schools.com/html/html_tables.asp

->  Tables
    https://getbootstrap.com/docs/4.0/content/tables/

->  HTML <thead> tag
    https://www.w3schools.com/tags/tag_thead.asp

->  HTML <tr> tag
    https://www.w3schools.com/tags/tag_tr.asp

->  HTML <tbody> tag
    https://www.w3schools.com/tags/tag_tbody.asp

->  NgFor Angular: Um guia completo
    https://medium.com/@pe.marcos30/ngfor-angular-um-guia-completo-19a59d036f04

->  Angular + Spring Boot CRUD Full Stack App - 10 - Creating Angular Employee List Component
    https://www.youtube.com/watch?v=wrb0_b4A0Xo&list=PLGRDMO4rOGcNzi3CpBWsCdQSzbjdWWy-f&index=13

-->