.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Preenche toda a altura da tela */
    /* background-color: #f5f5f5; Cor de fundo suave */
}

.form-control {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* .form-control:focus {

    border-color: #007bff; /* Azul destacado 
    box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5); /* Sombra azul 
    outline: none;
} */

.btn-success {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    /* border: none; */
    /* border-radius: 5px; */
    /* background-color: #007bff; */
    /* color: #fff; */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* .btn-primary:hover {
    background-color: #0056b3; /* Azul mais escuro 
} */

input:hover {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.alert {
    margin-top: -100px !important;
}

@media (max-width: 768px) {
    .col-md-8 {
        width: 100%;
        padding: 0 15px;
    }
}
