<div class="container col-md-6 offset-md-3">

    <h3> NOVO LANÇAMENTO </h3>

    <form (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label for="tipoTransacao">TIPO DE TRANSAÇÃO:</label>
            <select [(ngModel)]="diario.transacao" name="tipoTransacao" class="form-control" id="tipoTransacao" required>
                <option value="credito">Crédito</option>
                <option value="debito">Débito</option>
            </select>
        </div>

        <div class="form-group">
            <label>DATA:</label>
            <input type="date" [(ngModel)]="diario.data" name="data" class="form-control" required>
        </div>
        
        <div class="form-group">
            <label>DESCRIÇÃO:</label>
            <input type="text" [(ngModel)]="diario.historico" name="Descrição" class="form-control" required>
        </div>

        <div class="form-group">
            <label>VALOR:</label>
            <input type="number" [(ngModel)]="diario.valor" name="valor" class="form-control"  required>
        </div>

        <div class="form-group" style="margin-top: 10px; text-align: center;">
            <button class="btn btn-success" type="submit"> Registrar </button>
        </div>

    </form>

</div>