.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
}

form {
    width: 100%;
}

input:hover  {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

select:hover {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}