
<div class="container filtros">
    <div class="filtro">
        <ul>
            <!-- Filtro para Data Inicial -->
            <li>
                <label for="startDate">DATA INICIAL:</label>
                <input type="date" class="form-control" id="startDate" [(ngModel)]="startDate">
            </li>
            <!-- Filtro para Data Final -->
            <li>
                <label for="endDate">DATA FINAL:</label>
                <input type="date" class="form-control" id="endDate" [(ngModel)]="endDate">
            </li>
            <!-- Botão para aplicar -->
            <li class="filtro-botao">
                <button (click)="filtrarPorPeriodo()" class="btn btn-success">Filtrar</button>
            </li>
            
        </ul>
        
    </div>
</div>

<div class="container corpo-elementos">

    <div *ngIf="lancamentos.length > 0; else semResultados" class="card elementos">

        <table class="table">
            <!-- Cabeçalho -->
            <thead>
                <tr>
                    <th>ID</th>
                    <th>TRANSAÇÃO</th>
                    <th>DATA</th>
                    <th>DESCRIÇÃO</th>
                    <TH>VALOR</TH>
                </tr>
            </thead>
            <!-- Corpo -->
            <tbody>
                <tr *ngFor="let lancamento of lancamentos">
                    <td> {{ lancamento.id }} </td>
                    <td [ngClass]="{ 
                    'text-danger': isDebito(lancamento.transacao),
                    'text-success': isCredito(lancamento.transacao) 
                    }"> {{ lancamento.transacao }} </td>
                    <td> {{ lancamento.data | date: 'dd/MM/yyyy' }} </td>
                    <td> {{ lancamento.historico }} </td>
                    <td [ngClass]="{ 
                    'text-danger': isDebito(lancamento.transacao),
                    'text-success': isCredito(lancamento.transacao) 
                    }"> {{ lancamento.valor | currency: 'BRL' }} </td>
                </tr>
            </tbody>
        </table>
    </div>
    <ng-template #semResultados>
        <p class="text-danger text-center" ><strong>Nenhum lançamento encontrado no intervalo especificado.</strong></p>
    </ng-template>

    <!-- Total do Filtro -->
    <div class="soma">
        <div class="card card-body card-total">
            <table>
                <tbody>
                    <ng-container>

                        <!-- Total de Crédito -->
                         <tr class="text-success">
                            <td colspan="4" style="text-align: left;"> CRÉDITO:  </td>
                            <td> <strong> {{ totalCredito | currency: 'BRL' }} </strong> </td>
                         </tr>

                        <!-- Total do Débito -->
                        <tr class="text-danger">       
                            <td colspan="4" style="text-align: left;"> DÉBITO: </td>
                            <td> <strong> {{ totalDebito | currency: 'BRL'  }} </strong> </td>
                        </tr>

                        <!-- Total do Filtro -->
                        <tr  [ngClass]="{
                            'text-success': isPositive(),
                            'text-danger': isNegative()
                        }">
                            <td colspan="4" style="text-align: left;"> <strong> TOTAL: </strong> </td>
                            <td> <strong> {{ saldoGeral | currency: 'BRL' }} </strong> </td> 
                        </tr>
                    </ng-container>
                </tbody>
            </table>  
        </div>
    </div>

</div>

