/* FILTROS */
.filtros {
    display: flex; 
    justify-content: center;
    align-items: center;
}
.filtro{
    justify-content: normal;
    align-items: center;
    display: inherit;
    gap: 10px;
}

ul { list-style: none; display: flex; } 
li { margin: 10px; padding: 10px; }

.filtro-botao { 
    display: flex;
    align-items: end;
}

/* ELEMENTOS */
.corpo-elementos {
    display: flex;
}

.elementos{
    overflow-y: scroll;
    padding: 15px;
    /* height: 350px; */
    border: 0;
    min-width: 570px;
    width: 100%;
}

.elementos, .card, tr, th, td {
    background-color: #fafbe4;
    box-shadow: inset 0 0 0 99999px rgba(255, 255, 255, 0.2);
}

/* TOTAL */
.soma {
    display: grid; 
    justify-content: right; 
    text-align: left;
}

.card-total {
    width: 15rem; 
    border: 0; 
    height: 90px; 
    padding: 6px; 
    margin-left: 5px; 
    justify-content: center; 
    align-items: center;
}

input:hover, select:hover {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

/* Fundo que corre */
::-webkit-scrollbar {
    width: 0px;
}

@media screen and ( max-width : 770px ) {

    .filtros {
        justify-content: center;
        /* margin: 10px; */
        padding: 10px;
    }

    ul {
        display: grid;
        justify-content: center;
        align-items: end;
        margin-top: 10px;
        grid: 70px / auto auto;
    }

    li {
        margin: 5px;
        padding: 5px;
    }

    .elementos {
        min-width: 300px;
        height: 550px;
        font-size: 12px;
    }

    .card-total {
        margin-top: 5px;
    }

    .corpo-elementos {
        display: table !important;
    }

}