<div class="container filtros">
    <div class="filtro">
        <ul>
            <!-- Filtro para Data Inicial -->
            <li>
                <label for="startDate">DATA INICIAL:</label>
                <input type="date" class="form-control" id="startDate" [(ngModel)]="startDate">
            </li>
            <!-- Filtro para Data Final -->
            <li>
                <label for="endDate">DATA FINAL:</label>
                <input type="date" class="form-control" id="endDate" [(ngModel)]="endDate">
            </li>
            <!-- Botão para aplicar -->
            <li class="filtro-botao">
                <button (ngSubmit)="filtrarPorPeriodo()" class="btn btn-success">Filtrar</button>
            </li>
            
        </ul>
        
    </div>
</div>

<div class="container corpo-elementos">

    <div class="card elementos">

        <table class="table">
            <!-- Cabeçalho -->
            <thead>
                <tr>
                    <th>ID</th>
                    <th>TRANSAÇÃO</th>
                    <th>DATA</th>
                    <th>DESCRIÇÃO</th>
                    <TH>VALOR</TH>
                </tr>
            </thead>
            <!-- Corpo -->
            <tbody>
                <tr *ngFor="let lancamento of lancamentos">
                    <td> {{ lancamento.id }} </td>
                    <td [ngClass]="{ 
                    'text-danger': isDebito(lancamento.transacao),
                    'text-success': isCredito(lancamento.transacao) 
                    }"> {{ lancamento.transacao }} </td>
                    <td> {{ lancamento.data | date: 'dd/MM/yyyy' }} </td>
                    <td> {{ lancamento.historico }} </td>
                    <td [ngClass]="{ 
                    'text-danger': isDebito(lancamento.transacao),
                    'text-success': isCredito(lancamento.transacao) 
                    }"> {{ lancamento.valor | currency: 'BRL' }} </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Total do Filtro -->
    <div class="soma">
        <div class="card card-body card-total">
            <table>
                <tbody>
                    <ng-container>

                        <!-- Total de Crédito -->
                         <tr class="text-success">
                            <td colspan="4" style="text-align: left;"> CRÉDITO:  </td>
                            <td> <strong> {{ totalCredito | currency: 'BRL' }} </strong> </td>
                         </tr>

                        <!-- Total do Débito -->
                        <tr class="text-danger">       
                            <td colspan="4" style="text-align: left;"> DÉBITO: </td>
                            <td> <strong> {{ totalDebito | currency: 'BRL'  }} </strong> </td>
                        </tr>

                        <!-- Total do Filtro -->
                        <tr  [ngClass]="{
                            'text-success': isPositive(),
                            'text-danger': isNegative()
                        }">
                            <td colspan="4" style="text-align: left;"> <strong> TOTAL: </strong> </td>
                            <td> <strong> {{ saldoGeral | currency: 'BRL' }} </strong> </td> 
                        </tr>
                    </ng-container>
                </tbody>
            </table>  
        </div>
    </div>

</div>

<!-- <mat-form-field>
    <mat-label>Data Inicial</mat-label>
    <input matInput [matDatepicker]="picker1" [(ngModel)]="startDate">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
</mat-form-field>

<mat-form-field>
    <mat-label>Data Final</mat-label>
    <input matInput [matDatepicker]="picker2" [(ngModel)]="endDate">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
</mat-form-field>

<button (click)="buscarPorDatas()">Buscar</button>
<div *ngIf="transacoes.length > 0; else semResultados">
    <table>
        <tr>
            <th>Data</th>
            <th>Histórico</th>
            <th>Valor</th>
        </tr>
        <tr *ngFor="let transacao of transacoes">
            <td>{{ transacao.data | date }}</td>
            <td>{{ transacao.historico }}</td>
            <td>{{ transacao.valor | currency }}</td>
        </tr>
    </table>
</div>
<ng-template #semResultados>
    <p>Nenhuma transação encontrada no intervalo especificado.</p>
</ng-template>
 -->
