tr.selected {
    background-color: #f5f5f5 !important;
    /* Cor de destaque */
    cursor: pointer;
}

.expanded-row {
    background-color: #f9f9f9;
    /* text-align: left; */
}

.expanded-row ul {
    margin: 0;
    padding: 0 0 0 15px;
    list-style-type: disc;
}

button {
    margin: 5px;
}

.elementos{
    overflow-y: scroll;
    padding: 15px;
    height: 450px;
    border: 0;
    min-width: 570px;
}

/* Fundo que corre */
::-webkit-scrollbar {
    width: 0px;
    /* height: 0px; */
    /* background: var(--body); */
    /* overflow-x: hidden; */
    /* scroll-snap-type: y mandatory; */
}