<div class="container filtros">
    <div class="filtro">

        <ul>
            <li>
                <label>ID</label>
                <input type="number" class="form-control" placeholder="Filtro por ID" [(ngModel)]="filtro.id"
                    (ngModelChange)="filtros()">
            </li>
            <li>
                <label>TRANSAÇÃO</label>
                <select class="form-control" [(ngModel)]="filtro.transacao" (ngModelChange)="filtros()">
                    <option value="">Todos</option>
                    <option value="Não Definido">Não Definido</option>
                    <option value="CRÉDITO">Crédito</option>
                    <option value="DÉBITO">Débito</option>
                </select>
            </li>
            <li>
                <label>DATA</label>
                <input type="date" class="form-control" [(ngModel)]="filtro.data" 
                    (ngModelChange)="filtros()" />
            </li>
            <li>
                <label>DESCRIÇÃO</label>
                <input type="text" class="form-control" placeholder="Filtrar por Descrição"
                    [(ngModel)]="filtro.historico" (ngModelChange)="filtros()" />
            </li>
            <li>
                <label>VALOR</label>
                <input type="text" class="form-control" placeholder="Filtrar por Valor" [(ngModel)]="filtro.valor"
                    (ngModelChange)="filtros()" />
            </li>
        </ul>

    </div>
</div>

<div class="container corpo-elementos">

    <div class="card elementos">

        <table class="table">
            <!-- Cabeçalho -->
            <thead>
                <tr>
                    <th>ID</th>
                    <th>TRANSAÇÃO</th>
                    <th>DATA</th>
                    <th>DESCRIÇÃO</th>
                    <th>VALOR</th>
                </tr>
            </thead>
            <!-- Corpo -->
            <tbody>
                <ng-container *ngFor="let lancamento of lancamentoFiltrado; let i = index">
                    <!-- Linha principal -->
                    <tr (click)="toggleRow(i)">
                        <td>{{ lancamento.id }}</td>
                        <td [ngClass]="{ 
                            'text-danger': isDebito(lancamento.transacao),
                            'text-success': isCredito(lancamento.transacao) 
                            }">{{ lancamento.transacao }}
                        </td>
                        <td>{{ lancamento.data | date: 'dd/MM/yyyy' }}</td>
                        <td>{{ lancamento.historico }}</td>
                        <td [ngClass]="{ 
                            'text-danger': isDebito(lancamento.transacao), 
                            'text-success': isCredito(lancamento.transacao)  
                            }">{{ lancamento.valor | currency : 'BRL' }}
                        </td>
                    </tr>
                    <!-- Linha expandida -->
                    <tr *ngIf="expandedRowIndex === i" class="text-center">
                        <td colspan="6" class="expanded-row-content text-center">
                            <button class="btn btn-danger"
                                (click)="deleteLancamento(lancamento.id); $event.stopPropagation()">Excluir</button>
                            <button class="btn btn-warning"
                                (click)="updateLancamento(lancamento.id); $event.stopPropagation()">Atualizar</button>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>

    <div class="soma">
        <div class="card card-body card-total">
            <table>
                <tbody>
                    <ng-container>
                        <!-- Total Crédito -->
                        <tr>
                            <td colspan="4" class="text-success tema-tr"> CRÉDITO:</td>
                            <td><strong class="text-success"> {{ totalCredito | currency : 'BRL' }} </strong></td>
                        </tr>

                        <!-- Total Débito -->
                        <tr>
                            <td colspan="4" class="text-danger tema-tr"> DÉBITO:</td>
                            <td><strong class="text-danger"> {{ totalDebito | currency : 'BRL' }} </strong></td>
                        </tr>

                        <!-- Total Geral -->
                        <tr [ngClass]="getBootstrapClass()">
                            <td colspan="4" class="tema-tr"><strong>TOTAL:</strong></td>
                            <td><strong> {{ saldoGeral | currency : 'BRL' }} </strong></td>
                        </tr>
                    </ng-container>

                </tbody>

            </table>

        </div>
    </div>

</div>




<!-- <div class="container">

    <h2 class="text-center" style="margin: 20px;">DIÁRIO</h2>

    <table class="table table-striped ">
        <thead>
            <tr class="text-center">
                <th>ID</th>
                <th>TRANSAÇÃO</th>
                <th>DATA</th>
                <th>DESCRIÇÃO</th>
                <th>VALOR</th>
                <th>AÇÕES</th>
            </tr>
        </thead>

        <tbody>
            
            <tr *ngFor="let lancamento of lancamento; let i = index" (click)="onRowClick(i)"
                [class.selected]="selectedRow === i" class="text-center clique ">

                
                <td>{{ lancamento.id }} </td>
                <td>{{ lancamento.transacao }}</td>
                <td>{{ lancamento.data | date: 'dd/MM/yyyy' }}</td>
                <td>{{ lancamento.historico }}</td>
                <td>{{ lancamento.valor | currency : 'BRL' }}</td>

                <td *ngIf="selectedRow === i">
                    <button class="btn btn-danger" (click)="deleteLancamento(lancamento.id)">Excluir</button>
                    <button class="btn btn-warning" (click)="updateLancamento(lancamento.id)">Atualizar</button>
                </td>

            </tr>

        </tbody>

    </table>

</div> -->