<div class="container">

  <h2 class="text-center" style="margin: 20px;">Razão</h2>

  <table class="text-center" style="width: 100%;">
    <tr >
      <th>ID</th>
      <th>TRANSAÇÃO</th>
      <!-- <th>Crédito</th> -->
      <th>DATA</th>
      <th>DESCRIÇÃO</th>
      <th>VALOR</th>
      <!-- <th>Ações</th> -->
    </tr>
    <tr *ngFor="let razao of razao">
      <td>{{ razao.id }} </td>
      <td>{{ razao.transacao }}</td>
      <td>{{ razao.data }}</td>
      <td>{{ razao.historico }}</td>
      <td>{{ razao.valor }} Reais</td>
    </tr>
    <!-- Total Crédito -->
    <tr>
      <td colspan="4" style="text-align: right;">Total Crédito:</td>
      <td><strong> {{ totalCredito }} Reais </strong></td>
    </tr>
    <!-- Total Débito -->
    <tr>
      <td colspan="4" style="text-align: right;">Total Débito:</td>
      <td><strong> {{ totalDebito }} Reais </strong></td>
    </tr>
    <!-- Total Geral -->
    <tr>
      <td colspan="4" style="text-align: right;"><strong>Total:</strong></td>
      <td><strong> {{ saldoGeral }} Reais </strong></td>
    </tr>
  </table>


</div>