<div class="container">

  <h2 class="text-center" style="margin: 20px;">Razão</h2>

  <table class="text-center table" style="width: 100%;">
    <thead>
      <tr class="text-center">
        <th>ID</th>
        <th>TRANSAÇÃO</th>
        <th>DATA</th>
        <th>DESCRIÇÃO</th>
        <th>VALOR</th>
      </tr>
    </thead>
    <tbody class="col-md-6">
      <ng-container *ngFor="let razao of razao">
        <tr>
          <td>{{ razao.id }} </td>
          <td
            [ngClass]="{
              'text-danger': isDebito(razao.transacao),
              'text-success': isCredito(razao.transacao)
            }">{{ razao.transacao }}</td>
          <td>{{ razao.data | date: 'dd/MM/yyyy' }}</td>
          <td>{{ razao.historico }}</td>
          <td 
            [ngClass]="{
            'text-danger': isDebito(razao.transacao),
            'text-success': isCredito(razao.transacao)
            }">{{ razao.valor| currency : 'BRL' }}</td>
        </tr>
      </ng-container>
      <ng-container>
        <!-- Total Crédito -->
      <tr>
        <td colspan="4" style="text-align: right;"  class="text-success"> TOTAL CRÉDITO:</td>
        <td><strong class="text-success"> {{ totalCredito | currency : 'BRL' }} </strong></td>
      </tr>
      <!-- Total Débito -->
      <tr>
        <td colspan="4" style="text-align: right;"  class="text-danger">TOTAL DÉBITO:</td>
        <td><strong  class="text-danger"> {{ totalDebito | currency : 'BRL' }} </strong></td>
      </tr>
      <!-- Total Geral -->
      <tr>
        <td colspan="4" style="text-align: right;"><strong>TOTAL:</strong></td>
        <td><strong 
          [ngClass]="getBootstrapClass() " > {{ saldoGeral | currency : 'BRL' }} </strong></td>
      </tr>
      </ng-container>
      
    </tbody>

  </table>

</div>