<div class="container" >

    <h3> Lançamento: {{ lancamento.id }} </h3>

    <form (ngSubmit) = "onSubmit()">
        
        <!-- <div class="form-group">

            <label> TRANSAÇÃO: </label>
            <input [(ngModel)]="lancamento.transacao" type="text" class="form-control" id="Transação" name="transacao">

        </div> -->

        <div>
            <label for="tipoTransacao">TIPO DE TRANSAÇÃO: </label>
            <select [(ngModel)]="lancamento.transacao" name="tipoTransacao" class="form-control" id="Transação" name="Transação" required>

                <option value="credito">Crédito</option>
                <option value="debito">Débito</option>

            </select>
        </div>
        
        <div class="form-group">
            <label>DATA:
                <input type="date" [(ngModel)]="lancamento.data" name="data" required>
            </label>
        </div>

        <div class="form-group">

            <label> DESCRIÇÃO: </label>
            <input [(ngModel)]="lancamento.historico" type="text" class="form-control" id="Descrição" name="Descrição">

        </div>

        <div class="form-group">

            <label> VALOR: </label>
            <input [(ngModel)]="lancamento.valor" type="text" class="form-control" id="Valor" name="Valor">

        </div>

        <div class="form-group" style="margin-top: 10px;">
            <button  class="btn btn-success" type="submit"> Atualizar </button>
        </div>

    </form>

</div>


